.content {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  color: #050505;
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  border-radius: 5px;
  background: linear-gradient(#0099cc, 45%, rgb(255, 248, 224));
  /* background-color: antiquewhite; */
}

.pic {
  max-height: 100%;
}