.findElems {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 20px;
}

.title {
  min-width: 150px;
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

.findInput {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0099cc;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.findButton {
  width: 150px;
  justify-self: flex-end;
  font-size: 14px;
  line-height: 22px;
  background-color: #0099cc;
  border: 1px transparent solid;
  transition: .3s;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.findButton:hover {
  background-color: #00cccc;
}

.pagination {
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: scroll;
}

.pageNumber {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  transition: font-size .2s;
}

.pageNumber:hover {
  font-size: 20px;
}

.pageNumberSelected {
  font-size: 20px;
  color: #006699;
}

.friendsPage {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

.followingItems {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px;
  overflow: hidden;
}

.navUserpic {
  display: flex;

}

.navUserpic:focus {
  outline: transparent;
}

.userpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid transparent;
}

.navUserpic:focus .userpic {
  border: 2px solid rgb(73, 73, 172);
}

.followButton {
  width: 130px;
  font-size: 14px;
  line-height: 28px;
  border-top-left-radius: 5px;
  border-top: 1px #73cbe9 solid;
  border-left: 1px #73cbe9 solid;
  border-bottom: transparent;
  border-right: transparent;
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.followButton:hover {
  color: #006699;
  background-color: rgba(115, 203, 233, .5);
}

.followButton:focus {
  outline: transparent;
  text-decoration: underline;
  box-shadow: inset 0 0 10px 1px rgba(115, 203, 233, .5);
}

.follow {
  color: #fff;
  background-color: #73cbe9;
}

.unfollow {
  color: #006699;
  background-color: #fff;
}

.infoItems {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #73cbe9;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainText {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #666;
  margin: 0;
}

.plainText {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #666;
  margin: 0;
}