.header {
  grid-area: header;
  background-color: #0099cc;
  box-sizing: border-box;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 50px;
  height: 50px;
}

.title {
  font-family: 'Pacifico';
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  margin: 0;
  color: #fff;
  text-align: center;
}

.login {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  text-decoration: none;
}