.nav {
  grid-area: nav;
  background-color: #0099cc;
  box-sizing: border-box;
  padding: 0 15px;
  color: #fff;
}

.items {
  list-style-type: none;
  padding: 0;
}

.item {
  margin-bottom: 10px;
}

.item:last-of-type {
  margin-bottom: 0;
}

.selector {
  border-top: 1px solid rgba(255, 255, 255, .7);
  border-bottom: transparent;
}