.content {
  grid-area: content;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  color: #050505;
}

.cover {
  max-width: 100%;
}

.user {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.userpic {
  width: 120px;
  height: 120px;
}

.user_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user_name {
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
}

.user_info {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
}

.posts {
  max-width: 800px;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  margin-bottom: 20px;
}

.posts_title {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

.posts_form {
  display: grid;
  gap: 10px;
}

.posts_message {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  color: gray;
  margin: 0;
  padding: 5px 10px;
  background-color: rgb(245, 245, 245);
  border: 1px solid #0099cc;
}

.posts_send {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.posts_button {
  min-width: 150px;
  font-size: 14px;
  line-height: 22px;
  background-color: #0099cc;
  border: 1px transparent solid;
  transition: .3s;
  color: #fff;
}

.posts_button:hover {
  background-color: #66ccff;
  color: #003366;
  cursor: pointer;
}

.comments {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment {
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  margin: 0;
  color: inherit;
}